/* ArticlePage styles
------------------ */
.articlepage {
  margin: 2rem 0;
  z-index: 10;
  height: 100%;

  h1 {
    text-transform: uppercase;
  }

  &__intro {
    font-weight: 700;
  }

  .main__buttons {
    padding-bottom: 3rem;
  }
}
