/* TablePage styles
------------------- */
.tablepage {
  padding: 2rem 0;
  z-index: 10;
  width: 100%;
  border-collapse: collapse;

  &__head {
    background-color: #333;

    &-title {
      cursor: pointer;
    }
  }

  &__body {
    &-row {
      cursor: pointer;

      &:nth-of-type(odd) {
        background-color: var(--main-bg-clr);
      }

      &:nth-of-type(even) {
        background-color: var(--secondary-bg-clr);
      }
    }
  }

  &__row {
    border-bottom: 0.1rem solid var(--main-text-clr);

    th,
    td {
      width: 20%;
      text-align: start;
      padding: 0.625rem 1rem;
      min-width: 10rem;
      white-space: nowrap;
    }

    &--active {
      background-color: var(--main-white) !important;
      color: var(--secondary-text-clr);
    }
  }
}

.table-container {
  width: 100%;
  overflow: auto;
}

// Detailed table row, that opens up when clicking on a row
.detailed {
  background-color: var(--main-white);
  width: 100%;
  max-height: 10rem;
  color: var(--secondary-text-clr);

  &__data {
    display: flex;
    padding: 0 1rem 0;

    &-image {
      width: 13rem;
      height: 13rem;
      object-fit: cover;
      margin: 0.5rem 1rem 0 0;
    }

    &--texts {
      display: flex;
    }
  }
}
