@import "./scss/reset";
@import "./scss/typography";
@import "./scss/app";
/* Components */
@import "./components/Button/button";
@import "./components/Image/image";
@import "./components/Pagination/pagination";
@import "./components/Sidemenu/sidemenu";
/* Pages */
@import "./pages/articlepage/articlepage";
@import "./pages/tablepage/tablepage";
@import "./pages/welcomepage/welcomepage";
