/* Global media query variables
--------------------------------*/
// Very small devices (portrait phones, 320px and down)
$breakpoint-mobile-xs: "(max-width: 20em)";

// Small devices (portrait phones, 428px and down)
$breakpoint-mobile-portrait: "(max-width: 26.75em)";

// Small devices (landscape phones, 576px and down)
$breakpoint-mobile-landscape: "(max-width: 36em)";

// Medium devices (portrait tablets, 768px and down)
$breakpoint-tablet-portrait: "(max-width: 48em)";

// Medium devices (landscape tablets, 1024px and down)
$breakpoint-tablet-landscape: "(max-width: 63.99em)";

// Large devices (desktops, 992px and down)
$breakpoint-large: "(max-width: 62em)";

// Extra large devices (desktops, 1200px and down)
$breakpoint-xlarge: "(max-width: 74.99em)";

// Extra large devices (large desktops, 1400px and down)
$breakpoint-xxlarge: "(max-width: 87.5em)";

/* Global styles
---------------------------- */
:root {
  --main-text-clr: #fff;
  --secondary-text-clr: #3a3d57;
  --fancy-text-clr: #14cc76;
  --main-bg-clr: #3a3d57;
  --secondary-bg-clr: #4e5168;
  --main-white: #fff;
}

body {
  background-color: #3a3d57;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 4rem 0.75rem 0 14.75rem;
  max-width: 69rem;
  margin: 0 auto;

  @media #{$breakpoint-large} {
    padding: 5rem 0.75rem 0;
  }

  h1 {
    text-align: center;
  }

  &__bg {
    position: fixed;
    height: 33rem;
    width: 15rem;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &__bg-left {
    bottom: 0;
    left: 14rem;
    background-image: url("/src/assets/bg-deco-left.svg");

    @media #{$breakpoint-large} {
      left: 0;
    }
  }
  &__bg-right {
    top: 0;
    right: 0;
    background-image: url("/src/assets/bg-deco-right.svg");
  }

  &__buttons {
    display: flex;
    gap: 1rem;
  }
}

.loader {
  height: 2rem;
  width: 2rem;
}
